/* 定义颜色变量 */
:root{
    --bgc:#060716;
    --color1:#24f6f0;
    --color2:#ff0c43;
}
.logo{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: var(--bgc);
    text-align: center;
    line-height: 200px;
    border-radius: 35px;
    font-family: 'iconfont';

    &::before, 
    &::after{ 
        content:"\e8db";
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size: 120px;
        color: var(--color1);
    }

    &::after{
        color: var(--color2);
        transform: translate(-55%,-53%);
        /* 添加滤镜效果，重叠部分会显示白色 */
        mix-blend-mode: lighten;
    }
}